<om-fade [direction]="'down'" [transitionDuration]="'1s'">

 
    <img (click)="logout()" src="logout-50.png" alt="" width="30px" height="30px">
  
  <br>

  <div class="mainwidth">
    <br>

    <div class="parent-row">

      <!-- Profile Image -->
      <div class="row1">
        <img [src]="profilePicUrl" *ngIf="profilePicUrl" alt="profile image" class="simg">
        <div *ngIf="!profilePicUrl" style="color: gray; font-size: 14px; margin-top: 8px;">
          No profile picture available
        </div>

      </div>

      <!-- Intro Section -->
      <div class="intro">
        <p class="name">
          Hello ! I Am
          <om-gradient-text [text]="data.name?data.name:'Name'"></om-gradient-text>

        </p>

        <div class="content">
          <h3 class="content-title">
            <!-- Judges a book by its
            <om-highlighter action="circle" color="#8036f6" [animationDuration]="1000">
              <span class="h33">&nbsp;cover&nbsp;</span>
            </om-highlighter>
            ... ! -->
            <!-- Clean code. Smart design. Lasting impact -->
            <!-- A Fullstack Developer focused on clean design, scalable code, and meaningful results. -->
            {{data.role}} |
            <om-highlighter action="underline" color="#8036f6" [animationDuration]="1000">
              <span>Clean design.</span>

            </om-highlighter>
            &nbsp;
            <om-highlighter action="underline" color="#36F680" [animationDuration]="1000">
              <span> Scalable code.</span>

            </om-highlighter>
            &nbsp;
            <om-highlighter action="underline" color="#F68036" [animationDuration]="1000">
              <span> Meaningful results.</span>

            </om-highlighter>
            &nbsp;

          </h3>
          <!-- <span class="content-subtitle">
            Because if the cover does not impress you what else can?
          </span> -->
        </div>
      </div>
    </div>

    <!-- About Section -->
    <div class="about">
      <h1 class="about-title">
        <om-typewriter [words]="['I turn ideas into scalable software..']" [writeDelay]="500" [writeSpeed]="100">
        </om-typewriter>
      </h1>
      @if (data.currposition) {
      <p class="company-info">
        <om-shiny-text text="Currently, I'm a {{data.currposition}}  at&nbsp;" styleClass="shiny-text-style"
          [textColor]="'rgba(82, 82, 82, .7)'" [shimmerColor]="'hsl(0, 0%, 100%)'">
        </om-shiny-text>
        <!-- <img src="aurionpro.png" alt="companylogo" class="company-logo"> -->
        <om-shiny-text text="{{data.company}}," styleClass="shiny-text-style" [textColor]="'rgba(82, 82, 82, .7)'"
          [shimmerColor]="'hsl(0, 0%, 100%)'">
        </om-shiny-text>
      </p>
      }

      <p class="about-desc">
        {{data.about |titlecase}}
      </p>
    </div>
  </div>
</om-fade>