.error-page{
    text-align: center;
    
    width: 50%;
    margin: auto;
}

/* 
.error-page h1 {
  font-size: 120px;
    margin-left: 15rem;
  color: #333;
}

.error-page .img2 {
  width: 800px;
  max-width: 100%;
  margin: 20px 0;
  margin-left: 6rem;

}
.error-page .img3 {
  width: 800px;
  max-width: 100%;
  margin-left: 15rem;

}
.error-page .img1 {
  width: 800px;
  max-width: 100%;
  margin: 20px 0;
 

}

.error-page h2 {
  font-size: 28px;
  color: #444;
  margin-bottom: 10px;
}

.error-page p {
  font-size: 16px;
  color: #777;
  margin-bottom: 30px;
} */

/* .btn-home {
  display: inline-block;
  background: #28a745;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
} */
