 .timeline-wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;

     h1 {
         text-align: center;
         font-size: 3rem;
         font-weight: bold;
         color: transparent;
         font-family: cursive;
         -webkit-background-clip: text;
         background-clip: text;
         background-image:  radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
         /* margin-bottom: 2rem; */
     }
 }

 .timeline-title {
     font-size: 3rem;
     background-image: linear-gradient(to bottom,
          #fff 0,
          rgba(53, 53, 53) 95%
        );
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 0.5rem;
     font-weight: bold;
 }

 .timeline-content {
     font-size: 1rem;
     color: #fff;
     padding: 1rem;
     margin-bottom: 2rem;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 .timeline-content ul {
     padding: 1rem 0 0 1rem;
     list-style-type: circle;
 }

 .timeline-content li {
     margin-bottom: 0.5rem;
 }

 button {
     a:hover {
         background-image:linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
         -webkit-background-clip: text;
         background-clip: text;
         -webkit-text-fill-color: transparent;
     }

 }